*{box-sizing: order-box}
body {
	background-image: url("sample-background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Courier New", Courier, monospace;
	padding: 0;
	margin: 0;
	background-color: white;
}

.red {
	color: #124910;
}

.blackground {
	background-color: black;
	padding-right: 5%;
}

a:link.hyper-nav, a:visited.hyper-nav {
	color: white !important;
	text-decoration: none;
}

a:hover.hyper-nav {
	color: #124910 !important;
	text-decoration: none;
}

.header {
	padding-bottom: 20%;
	padding-top: 8%;
	color: white;
	text-align: center;
}
h1 {
	font-weight: bold;
}

.grey {
	height: 20%;
	background-color: grey;
	color: white;
	padding: 5% 0;
}
h4 {
	font-size: 150%;
	font-weight: bold;
}
.full {
	padding-right: 3%;
}
.resume {
	background-color: white;
	padding-top: 3%;
}
.res-download {
	padding-bottom: 3%;
}
.download {
	padding-top: 2vh;
}
a.download-link {
	color: #909090;
	text-decoration: none;
	border-bottom: dotted 1px #909090;
}
.contact {
	background-color: #333333;
	color: white;
	padding:3% 0;
}


.footer {
	background-color: black;
	color: white;
	text-align: right;
}


